@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 80em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 26.75em) {
    html {
      font-size: 40%; } }

body {
  /* Total borders or paddings are not added to total height of an element */
  box-sizing: border-box;
  padding: 0rem;
  font-family: "Poppins"; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.col-head {
  font-size: 1.953rem;
  font-weight: 500;
  margin-bottom: 2rem; }

.col-data {
  font-size: 1.463rem;
  font-weight: 300; }

.fa-key, .fa-lock {
  font-size: 1.463rem;
  margin: 0 1.5rem; }

.new i {
  font-size: 1.953rem; }

.u-heading-2 {
  display: flex;
  align-items: center; }
  .u-heading-2 div {
    background-color: black;
    width: 10rem;
    height: 1px;
    width: 7.5rem;
    margin-right: 1rem; }

.u-margin-bottom-huge {
  margin-bottom: 16rem !important; }

.u-margin-top-huge {
  margin-top: 16rem !important; }

.u-margin-top-big {
  margin-top: 6.4rem !important; }

.u-margin-top-medium {
  margin-top: 3.2rem !important; }

.u-margin-top-small {
  margin-top: 1rem !important; }

.cta-register {
  background-color: #071E3D;
  width: 40.7rem;
  padding: 1.5rem 2rem;
  text-align: center;
  font-size: 1.563rem;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 500;
  border-radius: 9px;
  border: 1px solid #1F4287; }

.nav {
  align-items: center;
  background-color: #071E3D;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem; }
  .nav__logo {
    font-size: 2.441rem;
    font-weight: 600;
    color: white; }
  .nav__search {
    width: 30%;
    padding: .8rem 2rem;
    border-radius: 9px;
    border: none;
    font-family: "Poppins";
    font-weight: 300; }
  .nav__profile, .nav__logout {
    color: white;
    font-size: 3.025rem;
    margin: 0 1rem; }

.login {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-gap: 3rem;
  height: 100vh; }
  .login__form {
    display: grid;
    grid-gap: 2rem;
    width: max-content;
    align-items: center;
    justify-content: center;
    align-content: center; }
    .login__form input, .login__form button {
      padding: 1.53rem 2rem;
      width: 40rem;
      border-radius: 9px;
      font-size: 1.563rem;
      font-family: "Poppins"; }
    .login__form input {
      background: #fcfcfc;
      border: 1px solid #b6b6b6; }
    .login__form--submit {
      background-color: #1F4287;
      font-weight: 600;
      color: white;
      cursor: pointer;
      border: 1px solid #1F4287; }
  .login .seprator {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .login .seprator .line {
      height: 1px;
      background-color: black;
      width: 17rem; }
    .login .seprator p {
      font-size: 1.953rem;
      padding: 0 1.5rem; }

.registration {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-gap: 3rem;
  height: 100vh; }
  .registration__form {
    display: grid;
    grid-gap: 2rem;
    width: max-content;
    align-items: center;
    justify-content: center;
    align-content: center; }
    .registration__form input, .registration__form button {
      padding: 1.53rem 2rem;
      width: 40rem;
      border-radius: 9px;
      font-size: 1.563rem;
      font-family: "Poppins"; }
    .registration__form input {
      background: #fcfcfc;
      border: 1px solid #b6b6b6; }
    .registration__form-- {
      background-color: #1F4287;
      font-weight: 600;
      color: white;
      cursor: pointer; }

.new {
  position: fixed;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: none;
  background-color: #21E6C1;
  color: white;
  left: 95%;
  top: 90%;
  cursor: pointer; }

.dashboard {
  padding: 10rem 0;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  .dashboard .data {
    background-color: #F6F6F6;
    display: grid;
    justify-content: space-around;
    align-items: flex-end;
    grid-gap: 5rem;
    grid-template-columns: 10% 15% 20% repeat(2, max-content);
    padding: 2rem 0;
    border-radius: 9px; }
