.nav{
    background-color: $color_primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    .logo{
        width: 15rem;
        circle{
            fill: white;
        }
        .cls-1{
            fill: $color_primary;
        }
        path{
            fill: white;
        }
    }
    &__links{
        display: flex;
        list-style: none;
        &--link{
            &:not(:first-child){
                margin-left: 3rem;
            }
        }
    }
}
