.addnew{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.80);
    position: fixed;
    z-index: 2;
    .cancel{
        position: absolute;
        left: 60%;
        top: 20%;
        font-size: 3.815rem;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }
    &__modal{
        height: max-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;

        form{
            display: grid;
            width: max-content;
            grid-gap: 1rem;
            input{
                width: 30rem;
                border-radius: 10px;
                padding: 1rem 2rem;
            }
                .submit{
                    padding: 1rem 2rem;
                    background-color: $color_seconday;
                    border-radius: 10px;
                    border-color: $color_seconday;
                    color: white;
                }


        }
    }
}
