.cta-register{
    background-color: $color_primary;
    width: 40.7rem;
    padding: 1.5rem 2rem;
    text-align: center;
    font-size: 1.563rem;
    color: white;
    text-decoration: none;
    font-family: $font_body;
    font-weight: 500;
    border-radius: 9px;
}
