.new{
    position: fixed;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: none;
    background-color: $color_seconday;
    color: white;
    left: 95%;
    top: 90%;
    cursor: pointer;
}

.dashboard{
    padding: 4rem 0;
    width: 88%;
    right: 0;
    position: absolute;
    height: 100%;
    .searchbar{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        input{
            width: 90rem;
            background-color: $color_tertiary_dark;
            border: none;
            padding: 1.5rem 3rem;
            border-radius: 10px;
        }
    }


    &__data{
        display: grid;
        grid-template-columns: repeat(4, max-content);
        grid-gap: 2rem;
        justify-content: center;
        margin-top: 10%;
        &--card{
            background-color: white;
            border-radius: 10px;
        }
    }
}
