.login{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-gap: 3rem;
    height: 100vh;
    &__form{
        display: grid;
        grid-gap: 2rem;
        width: max-content;
        align-items: center;
        justify-content: center;
        align-content: center;
        input, button{
            padding: 1.53rem 2rem;
            width: 40rem;
            border-radius: 9px;
            font-size: 1.563rem;
            font-family: $font_body;
        }

        input{
            background: #fcfcfc;
            border: 1px solid #b6b6b6;
        }

        &--submit{
            background-color: $color_primary_light;
            font-weight: 600;
            color: white;
            cursor: pointer;
        }
    }

    .seprator{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .line{
            height: 1px;
            background-color: black;
            width: 17rem;
        }
        p{
            font-size: 1.953rem;
            padding: 0 1.5rem;
        }
    }
}
