.col-head{
    font-size: 1.953rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.col-data{
    font-size: 1.463rem;
    font-weight: 300;
}

.fa-key, .fa-lock{
    font-size: 1.463rem;
    margin: 0 1.5rem;
}

.new{
    i{
        font-size: 1.953rem;
    }
}

