.col-head{
    font-size: 1.953rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.col-data{
    font-size: 1.463rem;
    font-weight: 300;
}

.fa-key, .fa-lock, .fa-trash-alt{
    font-size: 1.463rem;
    margin: 0 1.5rem;
}

.new{
    i{
        font-size: 1.953rem;
    }
}

.nav{
    &__links{
        &--link{
            a{
                text-decoration: none;
                color: white;
                font-size: 1.25rem;
            }
        }
    }
}

.sidebar{
    &__links{
        a{
            text-decoration: none;
            color: white;
            font-size: 1.953rem;
            font-weight: 300;
        }
    }
    &__profile{
        .name{
            color: white;
            font-size: 1.563rem;
        }
    }
}
